body {
    background-color: #696868;
    color: white;
    font-size: small;
}

.resourceButton {  
    width: 100px;
}

#buyHut {
    width: 100px;
}

.scrollable {
    height: 100%;
    overflow-y: scroll;
}

.row-height{
    height: 250px;
}

#gameText {
    font-size: x-small;
}
