body {
    background-color: black;
    color: white;
    font-size: small;
}

.resourceButton {  
    width: 110px;
}

#buyHut {
    width: 110px;
}

.scrollable {
    height: 100%;
    overflow-y: scroll;
}

.row-height{
    height: 250px;
    background-color: red;
}

#gameText {
    font-size: small;
}
